<% provide(:title,"Inicio") %>

    <div class="center jumbotron">
      <h1>Bienvenido a Datawarehousing App</h1>
      <h2>Esta la pagina principal.</h2>
      <%= link_to "Registrarse ahora!" , '#', class: "btn btn-default" %>
    </div>
    <div style="width:100%">
      <%= link_to image_tag("datwarehousing.png", alt: "Datawarehouse logo", class: "img img-rounded img-responsive", style: "margin: auto;display:block;width:30%"), 'http://datawarehouse.com/'%>
    </div>
