<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<table>
<thead>
  <th>Id</th>
  <th>Nombre</th>
  <th>Fecha</th>
  <th colspan="3"></th>
</thead>
<tbody>
  <% @records.each do |record| %>
    <tr>
      <td><%= record.user_id %></td>
      <td><%= record.name %></td>
      <td><%= record.date %></td>
      <td><%= link_to 'Show', record %></td>
      <td><%= link_to 'Edit', edit_record_path(record) %></td>
      <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>
