<footer class="footer">
  <small>
    The <a href="http://datawarehousing.heroku.com/">Datawarehousing first project</a>
    by <a href="http://datawarehousing.heroku.com/">DB Team</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca",   acerca_path %></li>
      <li><%= link_to "Contacto", contacto_path %></li>
      <li><a href="http://datawarehousing.heroku.com/">Novedades</a></li>
    </ul>
  </nav>
</footer>
