<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Datawarehousing" , root_path, id:"logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Inicio" , root_path %></li>
        <li><%= link_to "Ayuda" , ayuda_path %></li>
        <li><%= link_to "Inicio de Sesion" , login_path %></li>
      </ul>
    </nav>
  </div>
</header>
